<div class="canlendar-table-y">
	<div class="row">
		<div class="col-xs-6">
			<a ng-click="changem(1)" ng-class="getClass(1)">1月</a>
			<a ng-click="changem(2)" ng-class="getClass(2)">2月</a>
			<a ng-click="changem(3)" ng-class="getClass(3)">3月</a>
			<a ng-click="changem(4)" ng-class="getClass(4)">4月</a>
			<a ng-click="changem(5)" ng-class="getClass(5)">5月</a>
			<a ng-click="changem(6)" ng-class="getClass(6)">6月</a>
		</div>
		<div class="col-xs-6">
			<a ng-click="changem(7)"  ng-class="getClass(7)">7月</a>
			<a ng-click="changem(8)"  ng-class="getClass(8)">8月</a>
			<a ng-click="changem(9)"  ng-class="getClass(9)">9月</a>
			<a ng-click="changem(10)" ng-class="getClass(10)">10月</a>
			<a ng-click="changem(11)" ng-class="getClass(11)">11月</a>
			<a ng-click="changem(12)" ng-class="getClass(12)">12月</a>
		</div>
	</div>
</div>